#spinningSquaresG{
position:relative;
width:221px;
height:27px}

.spinningSquaresG{
position:absolute;
top:0;
background-color:#06B033;
width:27px;
height:27px;
-moz-animation-name:bounce_spinningSquaresG;
-moz-animation-duration:1.8s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(.3);
-webkit-animation-name:bounce_spinningSquaresG;
-webkit-animation-duration:1.8s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(.3);
-ms-animation-name:bounce_spinningSquaresG;
-ms-animation-duration:1.8s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(.3);
-o-animation-name:bounce_spinningSquaresG;
-o-animation-duration:1.8s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(.3);
animation-name:bounce_spinningSquaresG;
animation-duration:1.8s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(.3);
}

#spinningSquaresG_1{
left:0;
-moz-animation-delay:0.72s;
-webkit-animation-delay:0.72s;
-ms-animation-delay:0.72s;
-o-animation-delay:0.72s;
animation-delay:0.72s;
}

#spinningSquaresG_2{
left:28px;
-moz-animation-delay:0.9s;
-webkit-animation-delay:0.9s;
-ms-animation-delay:0.9s;
-o-animation-delay:0.9s;
animation-delay:0.9s;
}

#spinningSquaresG_3{
left:55px;
-moz-animation-delay:1.08s;
-webkit-animation-delay:1.08s;
-ms-animation-delay:1.08s;
-o-animation-delay:1.08s;
animation-delay:1.08s;
}

#spinningSquaresG_4{
left:83px;
-moz-animation-delay:1.26s;
-webkit-animation-delay:1.26s;
-ms-animation-delay:1.26s;
-o-animation-delay:1.26s;
animation-delay:1.26s;
}

#spinningSquaresG_5{
left:111px;
-moz-animation-delay:1.44s;
-webkit-animation-delay:1.44s;
-ms-animation-delay:1.44s;
-o-animation-delay:1.44s;
animation-delay:1.44s;
}

#spinningSquaresG_6{
left:138px;
-moz-animation-delay:1.62s;
-webkit-animation-delay:1.62s;
-ms-animation-delay:1.62s;
-o-animation-delay:1.62s;
animation-delay:1.62s;
}

#spinningSquaresG_7{
left:166px;
-moz-animation-delay:1.8s;
-webkit-animation-delay:1.8s;
-ms-animation-delay:1.8s;
-o-animation-delay:1.8s;
animation-delay:1.8s;
}

#spinningSquaresG_8{
left:193px;
-moz-animation-delay:1.98s;
-webkit-animation-delay:1.98s;
-ms-animation-delay:1.98s;
-o-animation-delay:1.98s;
animation-delay:1.98s;
}

@-moz-keyframes bounce_spinningSquaresG{
0%{
-moz-transform:scale(1);
background-color:#06B033;
}

100%{
-moz-transform:scale(.3) rotate(90deg);
background-color:#D0D613;
}

}

@-webkit-keyframes bounce_spinningSquaresG{
0%{
-webkit-transform:scale(1);
background-color:#06B033;
}

100%{
-webkit-transform:scale(.3) rotate(90deg);
background-color:#D0D613;
}

}

@-ms-keyframes bounce_spinningSquaresG{
0%{
-ms-transform:scale(1);
background-color:#06B033;
}

100%{
-ms-transform:scale(.3) rotate(90deg);
background-color:#D0D613;
}

}

@-o-keyframes bounce_spinningSquaresG{
0%{
-o-transform:scale(1);
background-color:#06B033;
}

100%{
-o-transform:scale(.3) rotate(90deg);
background-color:#D0D613;
}

}

@keyframes bounce_spinningSquaresG{
0%{
transform:scale(1);
background-color:#06B033;
}

100%{
transform:scale(.3) rotate(90deg);
background-color:#D0D613;
}

}
